table {  
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    width: 750px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
}

td, th {
    border: 1px solid black;
    height: 30px;
    text-align: center;
 }

th {  
    background: rgb(5, 137, 255);
    font-weight: bold;
    color: White;
}

body {
    width: 900px; /* how wide to make your web page */
    font:12px/16px Helvetica, Arial, sans-serif; /* default font */
}

.event {
    border: 1px solid black;
}

.button{
    border: 1px solid black;
    cursor: pointer;
    padding: 4px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 4px 2px;
}


